body{
	background-color: #F6F8F9;
}

/*Header start*/


.header{
	background-color: #F6F8F9;
	position: fixed;
	padding: 17px;
	width: 100%;
	top: 0;
	z-index: 5000;
}

.logo{
	vertical-align: middle;
	margin-right: 92px;
}

.nav{
	display: inline-block;
	vertical-align: middle;
}

.nav-li{
	display: inline-block;
	vertical-align: middle;
	margin-right: 27px;
}


.nav-a{
	color: black;
	opacity: 50%;
	text-transform: uppercase;
	font-size: 11px;
}

.active{
	opacity: 100%;
}

.icon{
	display: inline-block;
	vertical-align: middle;
	margin-left: 40px;
}

/*Header end*/

/*Section-1 start*/

.section-1{
	margin: 75px 140px 0 140px
}

.section-title{
	font-size: 24px;
	text-transform: uppercase;
	color: #202124;
}

.section-1-container{
	margin-top: 40px;
}

.content-block{
	position: relative;
	width: 290px;
	height: 350px;
	vertical-align: middle;
	background-color: white;
	margin-right: 20px;
	display: inline-block;
	overflow: hidden;
	border-radius: 10px;
}

.image{
	position: absolute;
	object-fit: cover ;
	top: 0;
}

.image-text{
	color: white;
	font-weight: bold;
	font-size: 16px;
	position: absolute;
	top: 28px;
	left: 40px;
}

/*Section-1 end*/

/*Section-2 start*/

.section-2{
	margin: 58px 140px 37px 140px
}


/*Section-2 end*/

